* {
    margin: 0;
    padding: 0;
    background-color: rgb(251, 224, 228);
}

.container {
    height: 60px;
    width: 1505px;
    background-color: antiquewhite;
    border: 2px solid red;


    display: flex;
    padding: 10px;

    justify-content: right;
    align-items: center;
}

.item {
    margin-left: 20px;
    color: black;
}

.item:hover {
    background-color: rgb(250, 206, 150);
}

h3 {
    color: rgb(225, 132, 253);
    text-align: center;
}